body{
   background-color: #ec1424;
   font-family: Helvetica;
}

#encabezado{
   color:White;
    background-color:#bf212c;
    padding:1rem;
}

#lista{
	background-color: #bf212c;
	float: left;
	height:85rem;
   padding:2rem;
   width :9rem;
   border: 1rem;
}

#menu2{
	background-color: #bf212c;
	float: right;
	height:75rem;
   padding:2rem;
   width :9rem;
   border: 1rem;
}

.article-h2-titulo_mision{
	text-align: center;
}
.section-p-h3-mision{
	text-align: center;

}

.section-p-h2-titulo_vision{
   text-align: center;
}
.section-p-h3-vision{
   text-align: center;

}

/*Estilo de pagina de productos*/

#Productos{
	background-color: #dcd4fc;
	font-family: Helvetica
}

#menu-productos{
	background-color: #b3abd1;
    float: left;
    height:1150px;
    padding:20px;
    width :150px;
}
#cabecera-productos{
	  #cabecera 
    color:White;
    background-color:#b3abd1;
    padding:10px;
  }

 #menu2-productos{
 	background-color: #b3abd1;
    float: right;
    height:1020px;
    padding:20px;
    width :150px;
 }
 h1{
 	text-align: center;

 }
 #video-presentacion{
   text-align: center;
 }
