body{
	background-image: url(https://i.pinimg.com/originals/8a/e1/e6/8ae1e6f923f85bc7dc60077890b7fdc9.gif);
	background-repeat:no-repeat ;
   background-attachment: fixed;
   background-size: cover;
   font-family: Helvetica;
   margin: 0;
}
a{
	text-decoration: none;
	text-decoration-color: black;
}
#encabezado{
	background: linear-gradient(#faccfc,white);
	padding:1rem;
}
h1{
	text-align: center;
}
