body{
   background-image: url(https://www.teahub.io/photos/full/245-2450994_textura-copos-de-nieve.jpg);
   background-repeat:no-repeat ;
   background-attachment: fixed;
   background-size: cover;
   font-family: Helvetica;
   margin: 0;
   flex-wrap: wrap;
}
a{
   text-decoration-line: none;
   text-decoration-color: black;
}

#encabezado{
   color:White;
   background: linear-gradient(#44b0db, white);
   padding:1rem;
}

#vela{
	width: 30rem;
	height: 30rem;
	border-width: 2px;
	border-style: solid;
	border-color: #5f6678;
	margin-left: 10px;
	text-align: left;
	float: left;
}

#titulo{
	color: black;
	text-align: right;
}

.mensaje{
	color: black;
	text-align: center;
}

button{
	border-radius: 4em;
	width: 10em;
	height: 4em;
	background-color:#6565eb;
	font-family:"Libre Baskerville";
}
