body{
   background-image: url(https://c.wallhere.com/photos/13/60/1389x946_px_anime_landscape-796102.jpg!d);
   background-repeat:no-repeat ;
   background-attachment: fixed;
   font-family: Helvetica;
}

#encabezado{
   color:White;
    background: linear-gradient(#587ab0, white);
    padding:1rem;
}

.article-h2-titulo_mision{
	text-align: center;
}
.section-p-h3-mision{
	text-align: center;

}

.section-p-h2-titulo_vision{
   text-align: center;
}
.section-p-h3-vision{
   text-align: center;

}
 #imagen_vela1{
   width: 21rem;
   height: 21rem;
   border-width: 2px;
   border-style: solid;
   border-color: black;
 }
 #imagen_vela2{
   width: 21rem;
   height: 21rem;
   border-width: 2px;
   border-style: solid;
   border-color: black;
   float: right;
 }


  #video-presentacion{
   text-align: center;
 }


#logo{
   width: 21rem;
   height: 21rem;
   border-width: 2px;
   border-style: solid;
   border-color: black;
   display:block;
   margin:auto;
}

	  


