
body{
   background-image: url(https://i.pinimg.com/originals/42/28/71/4228714fd0181d466268bd5016fe5804.jpg);
   background-repeat:no-repeat ;
   background-attachment: fixed;
   background-size: cover;
   font-family: Helvetica;
   margin: 0;
   flex-wrap: wrap;
}
a{
   text-decoration-line: none;
   text-decoration-color: black;
}

#encabezado{
   color:White;
   background: linear-gradient(#bf0016, white);
   padding:1rem;
}

#vela{
	width: 30rem;
	height: 30rem;
	border-width: 2px;
	border-style: solid;
	border-color: #5f6678;
	margin-left: 10px;
	text-align: left;
	float: left;
}

#titulo{
	color: black;
	text-align: right;
}

.mensaje{
	color: black;
	text-align: center;
}

button{
	border-radius: 4em;
	width: 10em;
	height: 4em;
	background-color:gold;
	font-family:"Libre Baskerville";
}
