body{
	background-image: url(https://images4.alphacoders.com/236/thumb-1920-236746.jpg);
	background-repeat:no-repeat;
   	background-attachment: fixed;
   	background-size: cover;
   	font-family: Helvetica;
   	margin: 0;
}
a{
	text-decoration: none;
	text-decoration-color: black;
}
#encabezado{
	background:  linear-gradient(#9cf595, white);
	padding: 1em;
}
#pausas{
	text-align: center;
	margin: auto;
	display: block;
}
#pausas2{
	text-align: center;
	margin: auto;
	display: block;
	padding-bottom: 10px;
}
#link_pausas{
	text-align: center;
	color: beige;
	text-decoration-line: none;
}
